<h2>
Version Control Software
</h2>

<ul>
  <li>RCS - local</li>
  <li>CVS - local or centralized (Concurrency!)</li>
  <li>Subversion -local or centralized (Atomic Commits!)</li>
  <li>Bazaar - distributed</li>
  <li>Mercurial - distributed</li>
  <li>Git - distributed</li>
</ul>
