<h2>Reasons to release your code</h2>
<ul>
<li>
<em>We will encourage you to develop the three great virtues of a programmer: laziness, impatience, and hubris.</em> -- Larry Wall
</li>
<li>
You want to get a job.
</li>
<li>
You want make the world a better place.
</li>
</ul>
