<h2>Become a better programmer</h2>
<ul>
<li>Interfaces are important</li>
<li>User documenation is important</li>
<li>Deployment is important</li>
<li>Learn git</li>
<li>Get experience doing distributed development</li>
</ul>
