<h2>Why distributed?</h2>

<ul>
  <li>A complete copy! (no need to connect to a server)</li>
  <li>Multiple remotes (push to multiple places)</li>
  <li>Flexible workflow (central server, team branches, etc.)</li>
</ul>
