<h2>Why distributed?</h2>

<ul>
  <li>a complete copy! (no need to connect to a server)</li>
  <li>multiple remotes (push to multiple places)</li>
  <li>flexible workflow (central server, team branches, etc.)</li>
</ul>
